<div [hidden]="!loading" class="loader">
    <h5>Loading...</h5>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="content-container" [ngClass]="{'disabled': loading == true}">
    <mat-card class="main-card">
        <mat-card-header>
            <mat-card-title>USER</mat-card-title>
            <mat-card-subtitle>{{screenName}}</mat-card-subtitle>
            <span class="spacer"></span>
        </mat-card-header>
        <mat-card-content>
            <mat-stepper>
                <mat-step label="Step 1" state="phone">
                    <form [formGroup]="userBasicFormGroup">
                        <ng-template matStepLabel>Basic Details</ng-template>

                        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="right" class="margin-top-10">
                            <div fxFlex="50" class="padding-right-5">
                                <mat-form-field class="full-width">
                                    <mat-label>Full Name</mat-label>
                                    <input matInput placeholder="Full Name" formControlName="fullName">
                                    <mat-error *ngIf="FullName?.touched && FullName?.invalid && FullName?.errors?.['required']">
                                        Full Name is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="50">
                                <mat-form-field class="full-width">
                                    <mat-label>Nic</mat-label>
                                    <input matInput placeholder="Nic" formControlName="nic">
                                    <mat-error *ngIf="Nic?.touched && Nic?.invalid && Nic?.errors?.['required']">
                                        Nic is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="right">
                            <div fxFlex="50" class="padding-right-5">
                                <mat-form-field class="full-width">
                                    <mat-label>Mobile</mat-label>
                                    <input matInput placeholder="Mobile" formControlName="mobile">
                                    <mat-error *ngIf="Mobile?.touched && Mobile?.invalid && Mobile?.errors?.['required']">
                                        Mobile is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="50">
                                <mat-form-field class="full-width">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="abc@example.com" formControlName="email">
                                    <mat-error *ngIf="Email?.touched && Email?.invalid && Email?.errors?.['required']">
                                        Email is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                    </form>
                    <div class="margin-top-10">
                        <button mat-raised-button class="btn-trans float-right" matStepperNext matTooltip="Next">Next</button>
                    </div>
                </mat-step>
                <mat-step label="Step 2" state="chat">
                    <form [formGroup]="roleFormGroup">
                        <ng-template matStepLabel>Role, Menu & Permissions</ng-template>

                        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="right" class="margin-top-10">
                            <div fxFlex="50" class="padding-right-5">
                                <mat-form-field class="full-width">
                                    <mat-label>Select Role</mat-label>
                                    <mat-select formControlName="role">
                                        <mat-option *ngFor="let rol of roleList" [value]="rol.id">{{rol.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex="50" class="padding-right-5">
                                <mat-form-field class="full-width">
                                    <mat-label>Select Menu</mat-label>
                                    <mat-select formControlName="menu" multiple>
                                        <mat-option *ngFor="let menu of menuList" [value]="menu.id">{{menu.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>
                    </form>
                    <div class="margin-top-10">
                        <button mat-raised-button class="btn-primary float-right" matTooltip="Save" (click)="save()">Save</button>
                        <button mat-raised-button class="btn-trans float-left" matStepperPrevious matTooltip="Back">Back</button>
                    </div>
                </mat-step>
                <!-- <mat-step label="Step 3">
                    <p>You're welcome.</p>
                </mat-step> -->

                <!-- Icon overrides. -->
                <ng-template matStepperIcon="phone">
                    <mat-icon>account_box</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="chat">
                    <mat-icon>playlist_add_check</mat-icon>
                </ng-template>
            </mat-stepper>

        </mat-card-content>

        <!-- <mat-card-actions>
            <div class="card-footer">
                <button mat-raised-button class="btn-primary" (click)="save()" matTooltip="Save">Save</button>
            </div>
        </mat-card-actions> -->


    </mat-card>
</div>