::ng-deep .mat-checkbox-frame {
    border-color: #0f9d55;
}

.mat-selected {
    color: #747474 !important;
}

.mat-select,
.mat-option {
    background-color: white;
    color: #5a5d5d;
}

.mat-option:hover {
    background-color: #F2F2F2;
}

.mat-form-field-type-mat-select .mat-form-field-label,
.mat-select-value {
    color: #5a5d5d;
}

 ::ng-deep .mat-select-arrow {
    color: #747474 !important;
}

 ::ng-deep .mat-select-checkbox {
    color: #747474 !important;
}

::ng-deep .mat-select-value {
    color: #5a5d5d !important;
}