<div [hidden]="!loading" class="loader">
    <h5>Loading...</h5>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="content-container" [ngClass]="{'disabled': loading == true}">
    <mat-card class="main-card">
        <mat-card-header>
            <mat-card-title>FILTER</mat-card-title>
            <mat-card-subtitle>{{screenName}}</mat-card-subtitle>
            <span class="spacer"></span>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="filterForm">
                <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="right">
                    <div fxFlex="50" class="padding-right-5">
                        <mat-form-field class="full-width">
                            <input type="input" matInput formControlName="name" placeholder="Name">
                            <mat-error *ngIf="Name?.touched && Name?.invalid && Name?.errors?.['required']">
                                Name is
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50">
                        <mat-form-field class="full-width">
                            <mat-label>Type</mat-label>
                            <mat-select formControlName="type" name="type">
                                <mat-option value="TEXT">
                                    TEXT
                                </mat-option>
                                <mat-option value="DECIMAL">
                                    DECIMAL
                                </mat-option>
                                <mat-option value="INTEGER">
                                    INTEGER
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="Type?.touched && Type?.invalid && Type?.errors?.['required']">
                                Type is
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="right">
                    <div fxFlex="50" class="padding-right-5">
                        <mat-form-field class="full-width">
                            <input type="input" matInput formControlName="unit" placeholder="Unit">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" class="padding-right-5">
                        <mat-form-field class="full-width">
                            <input type="number" matInput formControlName="displayOrder" placeholder="Display Order">
                            <mat-error *ngIf="DisplayOrder?.touched && DisplayOrder?.invalid && DisplayOrder?.errors?.['required']">
                                DisplayOrder is
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>
                <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="right">
                    <div fxFlex="50">
                        <mat-checkbox formControlName="show"> Show in Filter Menu </mat-checkbox>
                    </div>
                </div>

                <div class="card-footer margin-top-10">
                    <button mat-raised-button class="btn-primary" matTooltip="Save" (click)="save()">Save</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>