.dialog-img {
    width: 100px !important;
    height: 100px !important;
}

.dialog-box {
    min-width: 250px !important;
    max-width: 250px !important;
}

.btn-trans {
    background-color: transparent;
    color: #0073ff;
    font-weight: 400;
    border: 0.1px solid #464444;
}