<h2 mat-dialog-title class="text-align-center"><span><img src="../../../../../assets/images/change-pw.jpg" style="width: 50px;height:50px;"/></span> Change Password</h2>
<mat-dialog-content align="center" style="height: auto;">
    <form [formGroup]="pwFormGroup">
        <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="right" class="margin-top-10">
            <div fxFlex="100" class="padding-right-5">
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input type="text" formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="Password?.touched && Password?.invalid && Password?.errors?.['required']">
                        Password is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>New Password</mat-label>
                    <input type="text" formControlName="newPassword" matInput [type]="nhide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="nhide = !nhide">{{nhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="NewPassword?.touched && NewPassword?.invalid && NewPassword?.errors?.['required']">
                        NewPassword is
                        <strong>required</strong>
                    </mat-error>
                    <mat-hint>
                        Password must contain At least One Uppercase, One Lowercase, One Number, One Special character and Minimum 8 characters.
                    </mat-hint>
                </mat-form-field>

                <mat-form-field class="full-width margin-top-15">
                    <mat-label>Confirm Password</mat-label>
                    <input type="text" formControlName="confirmPassword" matInput [type]="chide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="chide = !chide">{{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="ConfirmPassword?.touched && ConfirmPassword?.invalid && ConfirmPassword?.errors?.['required']">
                        Confirm Password is
                        <strong>required</strong>
                        <div *ngIf="ConfirmPassword?.value !== NewPassword?.value">
                            New Password must be equal to Confirm Password.
                        </div>
                    </mat-error>

                    <!-- <mat-error *ngIf="ConfirmPassword?.value !== NewPassword?.value">
                        New Password must be equal to Confirm Password.
                    </mat-error> -->
                </mat-form-field>
            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button class="btn-primary" (click)="yesConfirmation();">Change</button>
    <button mat-button class="btn-trans" mat-dialog-close (click)="noConfirmation();">Cancel</button>
</mat-dialog-actions>