<h2 mat-dialog-title class="text-align-center">{{modalTitle}}</h2>
<mat-dialog-content align="center" class="">
    <img src="assets/images/sure.jpg" class="dialog-img"> <br>


    <div *ngFor="let mes of modelMessage" class="full-width">
        <label>{{mes}}</label><br>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close class="btn-primary" (click)="yesConfirmation();">YES</button>
    <button mat-button class="btn-trans" mat-dialog-close (click)="noConfirmation();">NO</button>
</mat-dialog-actions>