.btn-trans {
    background-color: transparent;
    color: #0073ff;
    font-weight: 400;
    border: 0.1px solid #464444;
}

#table {
    width: 100%;
    max-height: 200px;
    overflow: auto;
    margin-top: 10px;
}